snippet opencv
	cmake_minimum_required(VERSION 2.8)
	project( ${1:project} )
	find_package( OpenCV REQUIRED )
	add_executable( ${2:excute} ${3:main.cpp} )
	target_link_libraries( ${4:excute} ${OpenCV_LIBS} )
