snippet header
	# =============================================================================
	# Author:         scps950707
	# Email:          scps950707@gmail.com
	# Created:        `strftime("%Y-%m-%d %H:%M")`
	# Last Modified:  `strftime("%Y-%m-%d %H:%M")`
	# Filename:       `expand('%:t')`
	# =============================================================================
